/**
 * The main style sheet to be used throughout the quiz application
*/

.header{

}

.sub-header{

}

.main-text{

}

.dropdown{

}

.text-field{

}

.btn-large{
    -fx-padding: 8 15 15 15;
        -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
        -fx-background-radius: 8;
        -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
            #9d4024,
            #d86e3a,
            radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
        -fx-font-weight: bold;
        -fx-font-size: 1.1em;
}

.btn-medium{

}

.btn-small{

}