/**
 * The main style sheet to be used throughout the quiz application
*/

.root {
    -fx-padding: 30 30 30 30;
    -fx-background-image: url("wallpaper.png");
    -fx-background-image-repeat: stretch;
    -fx-background-size: 800 600;
    -fx-background-position: center center;
}

Label{
    -fx-font: 25px Droid-Serif;
     -fx-padding: 10 10 10 10;
    -fx-background-color: white;
    -fx-fill: #21586b;
    -fx-stroke: black;
    -fx-stroke-width: 1;
    -fx-font-weight: bold;
    -fx-border-radius: 30 30 30 30;
    -fx-background-radius: 10 10 10 10;
}

ChoicesVBox{
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

TextField{
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.label-big{
     -fx-font: 40px Droid-Serif;
     -fx-padding: 10 10 10 10;
     -fx-background-color: white;
     -fx-fill: #21586b;
     -fx-stroke: black;
     -fx-stroke-width: 1;
     -fx-font-weight: bold;
     -fx-border-radius: 30 30 30 30;
     -fx-background-radius: 10 10 10 10;
}

.main-text{
     -fx-font: 20px Droid-Serif;
     -fx-padding: 10 10 10 10;
     -fx-background-color: white;
     -fx-fill: #21586b;
     -fx-stroke: black;
     -fx-stroke-width: 1;
     -fx-font-weight: bold;
     -fx-background-radius: 20 20 20 20;
}

.choice-box{
     -fx-font: 20px Droid-Serif;
     -fx-padding: 10 10 10 10;
     -fx-background-color: white;
     -fx-fill: #21586b;
     -fx-stroke: black;
     -fx-stroke-width: 1;
     -fx-font-weight: bold;
}


.dropdown{

}

.text-field{

}

Button{
    -fx-padding: 8 15 15 15;
        -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
        -fx-background-radius: 8;
        -fx-background-color:
                #000000,
                linear-gradient(#7ebcea, #2f4b8f),
                linear-gradient(#426ab7, #263e75),
                linear-gradient(#395cab, #223768);
        -fx-font-weight: bold;
        -fx-font-size: 1.1em;
        -fx-text-fill: white;

}

